nltk
transformers
pandas
protobuf
ipywidgets
openai
langchain
tiktoken
fpdf2
langchain_community
langchain_openai
pypdf
chromadb==0.4.17
numpy
pymupdf
pdfplumber
pytesseract
sentence-transformers
matplotlib
parser-libraries
more_itertools